BOT_TOKEN=8752023766:AAGtWc3X8Fo6bd8sm9aNTA5WlX-PEmArK48   # من @BotFather
ADMIN_IDS=111111111,222222222          # ID تيليجرام الرقمي لك ولأي مشرف آخر
DATABASE_URL=sqlite:///./imam_malik.db  # يبقى كما هو للتطوير
DEBUG=True                             # في الإنتاج اجعله False
WEBHOOK_URL=https://your-domain.com   # راابط خادمك العام بعد النشر
