# environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Database files (SQLite local)
*.db
*.sqlite3

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
